<div class="w-75 mx-auto mt-5">
  <h1 class="text-center">Actor Movie Management System</h1>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav mx-auto nav-button-list">
      <li class="nav-item" style="padding-left: 0.2in">
        <a class="btn btn-primary" (click)="changeSection(1)">Home</a>
      </li>
      <li class="nav-item" style="padding-left: 0.2in">
        <a class="btn btn-primary" (click)="changeSection(2)">Add Actor</a>
      </li>
      <li class="nav-item" style="padding-left: 0.2in">
        <a class="btn btn-primary" (click)="changeSection(3)">Update Actor</a>
      </li>
      <li class="nav-item" style="padding-left: 0.2in">
        <a class="btn btn-primary" (click)="changeSection(4)">Delete Actor</a>
      </li>
      <li class="nav-item" style="padding-left: 0.2in">
        <a class="btn btn-primary" (click)="changeSection(5)">Movies</a>
      </li>

      <li class="nav-item" style="padding-left: 0.2in">
        <a class="btn btn-primary" (click)="changeSection(6)">Add Movie</a>
      </li>
      <li class="nav-item" style="padding-left: 0.2in">
        <a class="btn btn-primary" (click)="changeSection(7)">Delete Movie</a>
      </li>
      <li class="nav-item" style="padding-left: 0.2in">
        <a class="btn btn-primary" (click)="changeSection(8)"
          >Delete Movie Before</a
        >
      </li>
      <li class="nav-item" style="padding-left: 0.2in">
        <a class="btn btn-primary" (click)="changeSection(9)"
          >Add Actor To Movie</a
        >
      </li>
      <li class="nav-item" style="padding-left: 0.2in">
        <a class="btn btn-primary" (click)="changeSection(10)">Movie Actors</a>
      </li>
    </ul>
  </nav>
  <!-- Actor List -->
  <div class="section" *ngIf="section == 1">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Birth Year</th>
      </tr>
      <tr *ngFor="let item of actorsDB">
        <td>{{ item.name }}</td>
        <td>{{ item.bYear }}</td>
      </tr>
    </table>
  </div>
  <!-- Add actor section -->
  <div class="section" *ngIf="section == 2">
    <div class="form-group">
      <label for="actorName">Full Name</label>
      <input
        type="text"
        class="form-control"
        id="actorName"
        [(ngModel)]="fullName"
      />
    </div>
    <div class="form-group">
      <label for="actorName">Birth Year</label>
      <input
        type="number"
        class="form-control"
        id="actorName"
        [(ngModel)]="bYear"
      />
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSaveActor()">
      Save Actor
    </button>
  </div>
  <!-- Update Actor section -->
  <div class="section" *ngIf="section == 3">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Birth Year</th>
        <th>Select!</th>
      </tr>
      <tr *ngFor="let item of actorsDB">
        <td>{{ item.name }}</td>
        <td>{{ item.bYear }}</td>
        <td>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="onSelectUpdate(item)"
          >
            Update
          </button>
        </td>
      </tr>
    </table>
    <hr />
    <div *ngIf="actorsDB.length > 0">
      <div class="form-group">
        <label for="actorName">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="actorName"
          [(ngModel)]="fullName"
        />
      </div>
      <div class="form-group">
        <label for="actorName">Birth Year</label>
        <input
          type="number"
          class="form-control"
          id="actorName"
          [(ngModel)]="bYear"
        />
      </div>
      <button type="submit" class="btn btn-primary" (click)="onUpdateActor()">
        Update Actor
      </button>
    </div>
  </div>
  <!-- Delete Actor section -->
  <div class="section" *ngIf="section == 4">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Birth Year</th>
        <th>Delete?</th>
      </tr>
      <tr *ngFor="let item of actorsDB">
        <td>{{ item.name }}</td>
        <td>{{ item.bYear }}</td>
        <td>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="onDeleteActor(item)"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>
  </div>
  <!-- Movies List -->
  <div class="section" *ngIf="section == 5">
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Rating</th>
      </tr>
      <tr *ngFor="let movie of moviesDB">
        <td>{{ movie.title }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.rating }}</td>
      </tr>
    </table>
  </div>
  <!-- Add Movie -->
  <div class="section" *ngIf="section == 6">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="title" />
    </div>
    <div class="form-group">
      <label for="movieYear">Year</label>
      <input
        type="number"
        class="form-control"
        id="movieYear"
        [(ngModel)]="movieYear"
      />
    </div>
    <div class="form-group">
      <label for="rating">Rating</label>
      <input
        type="number"
        class="form-control"
        id="rating"
        [(ngModel)]="rating"
      />
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSaveMovie()">
      Save Movie
    </button>
  </div>
  <!-- Delete Movie -->
  <div class="section" *ngIf="section == 7">
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Rating</th>
        <th>Delete?</th>
      </tr>
      <tr *ngFor="let item of moviesDB">
        <td>{{ item.title }}</td>
        <td>{{ item.year }}</td>
        <td>{{ item.rating }}</td>
        <td>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="onDeleteMovie(item)"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>
  </div>
  <!-- Delete Movies before -->
  <div class="section" *ngIf="section == 8">
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Rating</th>
      </tr>
      <tr *ngFor="let movie of moviesDB">
        <td>{{ movie.title }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.rating }}</td>
      </tr>
    </table>
    <div class="form-group">
      <label for="movieYear">Year</label>
      <input
        type="number"
        class="form-control"
        id="movieYear"
        [(ngModel)]="movieYear"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="onDeleteMovieBefore()"
    >
      Delete Movies Before Year {{ movieYear }}
    </button>
  </div>
  <!-- Add Actor to Movie -->
  <div class="section" *ngIf="section == 9">
    <form>
      <div class="form-group">
        <label for="actor">Actor</label>
        <select
          name="actor"
          [(ngModel)]="actor"
          class="form-control"
          id="actor"
        >
          <option value="" selected disabled hidden>Pick your actor...</option>
          <option *ngFor="let actor of actorsDB" value="{{ actor._id }}">
            {{ actor.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="movie">Movie</label>
        <select
          name="movie"
          [(ngModel)]="movie"
          class="form-control"
          id="movie"
        >
          <option value="" selected disabled hidden>Pick your movie...</option>
          <option *ngFor="let movie of moviesDB" value="{{ movie._id }}">
            {{ movie.title }}
          </option>
        </select>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="onAddActorToMovie()"
      >
        Add actor to movie
      </button>
    </form>
  </div>
  <div class="section" *ngIf="section == 10">
    <h1 class="text-center">Select a Movie</h1>
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Rating</th>
        <th>View Actors?</th>
      </tr>
      <tr *ngFor="let movie of moviesDB">
        <td>{{ movie.title }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.rating }}</td>
        <td>
          <button (click)="selectMovieForActors(movie)" class="btn btn-primary">
            View Actors
          </button>
        </td>
      </tr>
    </table>
    <div *ngIf="movieActors !== ''">
      <h1 class="text-center">Actors in {{ movieActorsTitle }}</h1>
      <div *ngIf="movieActors.length === 0">
        <p class="text-center">This movie has no actors</p>
      </div>
      <div *ngIf="movieActors.length !== 0">
        <table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Birth Year</th>
          </tr>
          <tr *ngFor="let item of movieActors">
            <td>{{ item.name }}</td>
            <td>{{ item.bYear }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
